DB_HOST=<your-host>
DB_NAME=<your-name>
DB_USER=<your-user>
DB_PASSWORD=<your-password>
DB_PORT=<your-port>

PORT=<server-port>

POSTGRES_DB=${DB_NAME}
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}